.upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #fff6f0;
    font-family: 'Helvetica', sans-serif;
}

.upload-form {
    border: 1px solid #d1d5db;
    background-color: white;
    border-radius: 8px;
    padding: 32px;
    width: 600px;
}

.form-title {
    font-size: 48px;
    font-weight: bold;
    color: #1f2937;
    text-align: center;
    margin-bottom: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-label {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    color: #4b5563;
    margin-bottom: 8px;
}

.form-input {
    padding: 8px 12px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 14px;
    color: #1f2937;
    width: 100%;
    /* Ensures full width */
    box-sizing: border-box;
    /* Ensures padding and border do not shrink input width */
    height: 50px;
    /* Allows inputs to adjust naturally */
}

.submit-button {
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px 22px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #f8c9ac;
}

.submit-button:hover {
    background-color: #f6b48c;
    border-radius: 50px;
}

.submit-button.disabled {
    background-color: #d1d5db;
    cursor: not-allowed;
}